<p id="notice"><%= notice %></p>

<h1>Listing Machines</h1>
<div class="btn-group btn-group-justified">
    <%= link_to 'New Machine', new_machine_path, class: "btn btn-lg btn-danger" %>
    <%= link_to 'Back', users_path, class: "text-center btn btn-lg btn-danger" %>
</div>

<table class="adminTable">
  <thead>
    <tr>
      <th>Machine ID</th>
      <th>Description</th>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
   
    <% @machines.all.each do |machine| %>
      <tr>
        <td><%= machine.machineID %></td>
        <td><%= machine.machineDescription %></td>
        <td><%= machine.materialUsed %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





