<!--This page displays all reservation made by users-->

<h1 class="title"><b>CaMS Maker Lab Schedule</b></h1>

<div class="btn-group btn-group-justified">
    <%= link_to "New Schedule", new_schedule_path, class: "btn btn-lg btn-danger" %>
    <%= link_to "Log out", "/", class: "text-center btn btn-lg btn-danger" %>
</div>

<div id="dashboard">
    <div id="control"></div>
    <div id="lab_schedule"></div>
</div>      

       
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://www.google.com/jsapi?key=ABCDE"></script>
<script type="text/javascript">

    
    //Reloads the page to fix issue of the google timeline not showing upupon
    //first load
    function LoadGoogle()
    {
        if(typeof google != 'undefined' && google && google.load)
        {
          google.load('visualization', '1', {packages: ['controls'], callback: drawChart});  
          google.setOnLoadCallback(drawChart);
        }
        else
        {
            // Retry later...
            setTimeout(LoadGoogle, 100);
        }
    }

    LoadGoogle();
    
    // Create the data table.
    function drawChart() {
      var data = new google.visualization.DataTable();
          data.addColumn({type: 'string', id: 'MachineID'});
          data.addColumn({type: 'string', id: 'userName'});
          data.addColumn({type: 'date', id: 'startTime'});
          data.addColumn({type:'date', id: 'endTime'});
          
          data.addRows([
          <% @schedules.each do |sched| %>
            ['<%= sched.machineID%>', '<%= sched.userName %>',
            new Date('<%= sched.startTime %>'),
            new Date('<%= sched.endTime %>')],
            <% end %>
      ]);
     
    var chart = new google.visualization.ChartWrapper({
        chartType: 'Timeline',
        containerId: 'lab_schedule',
        options: {
            height: 450,
            hAxis: {
                
              format: 'MM/dd/yy h:mma'
            },
            vAxis: 
            {
                gridlines : {count:6, color:'#B9B9B9'},
                minorGridLines : { count:5} 
            }
        }
    });
      var control = new google.visualization.ControlWrapper({
        controlType: 'ChartRangeFilter',
        containerId: 'control',
        options: {
            filterColumnIndex: 3, // filter on start date
            ui: {
                chartOptions: {
                    height: 50
                },
                chartView: {
                    columns: [3, {
                        // create en empty column to serve as the line series in the control
                        // since there is no real meaning to having a line in here
                        type: 'number',
                        calc: function () {return 0;}
                    }]
                }
            }
        }
        
    });
    
    //draws data on the google chart
    var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard'));
        dashboard.bind([control], [chart]);
        dashboard.draw(data);
    }
</script>

